[Desktop Entry]
Type=Application
Name=Random Wallpaper
Comment=Download a random wallpaper and keep it or throw it away
Exec=/usr/bin/random-wallpaper
Icon=dev.ivanc.RandomWallpaper
Terminal=false
Categories=Graphics;Utility;
StartupWMClass=dev.ivanc.RandomWallpaper
Keywords=wallpaper;background;random;konachan;wallhaven;pixabay;
Actions=Konachan;Wallhaven;Pixabay;

[Desktop Action Konachan]
Name=From Konachan
Exec=/usr/bin/random-wallpaper --source konachan

[Desktop Action Wallhaven]
Name=From Wallhaven
Exec=/usr/bin/random-wallpaper --source wallhaven

[Desktop Action Pixabay]
Name=From Pixabay
Exec=/usr/bin/random-wallpaper --source pixabay
